body {
    padding: 20px;
    margin: 20px;
    
}

h1 {
    text-align: center;
    background: palegoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#generatedScore {
    background: paleturquoise;
}

#scoreTally {
    background: palevioletred;
}

#scoreBox {
    background: palegreen;
}